{% extends "main/base.html" %}

{% block content %}
<p>Socius Ask! for coders and  learners.</p>
<p>Whether you have a question about a specific language, setting up your dev environment, or anything else, try asking it here!</p>
<p>You should also join our Socius if you haven't yet here: </p>
<p>If you have any feature requests or bug reports, please tweet at <a href="#" target="_blank">Socius</a>, ping me on <a href="#" target="_blank"></a> or let me know us <a href="#" target="_blank">this form</a>.</p>
{% endblock %}