<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload document</title>
    <style>
        #file{
           display: block;
            padding: 20px;
        }
    </style>
</head>
<body>
    <center>
        <h2>Upload Your Question paper</h2>
        <form action='/question_paper_progress' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="questionpaper" required><br>
        <input type = "submit" value="Submit">
    </form>
</center>
    
</body>
</html>